/* comman css */

.whiteButton {
  padding: 24px 40px;
  height: 64px;
  background: #ffffff;
  border-radius: 4px;
  font-family: "Plaid";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  text-transform: uppercase;
  color: #000000;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #fff;
  transition: 300ms ease;
  cursor: pointer;
}

.whiteButton:hover {
  color: #fff;
  background-color: #000;
}

.borderButton {
  padding: 24px 40px;
  height: 64px;
  background: #000000;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Plaid";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  text-transform: uppercase;
  color: #ffffff;
  cursor: pointer;
  transition: 300ms ease;
  margin-left: 11px;
}

.borderButton:hover {
  color: #000;
  background-color: #fff;
}

/* end comman cdss */

.wrapper {
  width: 100%;
  min-height: calc(100vh - 100px);
  margin: -1px auto 0;
  font-family: 'Sen', sans-serif;
  background: #000;
}

.breadcrumbPath {
  padding: 50px 0 0;
  color: #fff;
  background-color: #000;
  display: flex;
  align-items: center;
  font-size: 14px;
  font-family: "Plaid-L-Mono";
  text-transform: uppercase;
  width: calc(100% - 80px);
  margin: 0 auto;
}

.breadcrumbPath a {
  color: #fff;
  text-decoration: none;
}

.breadcrumbPath svg {
  display: flex;
  align-items: center;
  margin: 0 5px;
  font-size: 1.2rem;
}

.bannerFirst {
  background: #000;
  width: 100%;
  min-height: 60vh;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 3;
}

.bannerFirst img {
  width: 100%;
  max-width: 200px;
  margin: 0 auto;
}

.bannerBtnList {
  display: flex;
  justify-content: center;
}

.bannerTitle {
  font-family: "Plaid";
  font-style: normal;
  font-weight: 600;
  font-size: 124px;
  text-align: center;
  letter-spacing: -0.05em;
  text-transform: uppercase;
  color: #ffffff;
  margin: 100px 0 50px;
  line-height: 95px;
}

.bgvideo {
  position: absolute;
  right: 2rem;
  width: 100%;
  height: 100%;
  max-width: 960px;
  max-height: 450px;
  top: 25vh;
  z-index: -1;
}

/* gridSection */
.gridSection {
  padding: 100px 0 20px;
  width: calc(100% - 0);
  margin: 0 auto;
  display: grid;
  color: #fff;
  padding-bottom: 200px;
}

.gridSection .gridRow {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 20px;
  align-items: start;
  justify-items: center;
}

.gridSection .gridRow .gridItem {
  width: 100%;
}

.gridSection .gridRow .gridItem h2 {
  font-family: "Plaid";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 100%;
  letter-spacing: -0.05em;
  color: #ffffff;
  margin: 0;
}

.gridSection .gridRow .gridItem p {
  font-family: 'Sen', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  color: #ffffff;
  width: 50%;
}

.gridSection .gridRow .bottomBg:last-child {
  margin: 0;
}

.gridSection .gridRow .bgBox {
  background: transparent;
  box-shadow: 0px 8px 40px rgba(0, 0, 0, 0.1);
  border-radius: 0;
  padding: 50px;
  margin-bottom: 20px;
  height: 690px;
  position: relative;
}

.gridSection .gridRow .bgBox:nth-child(even) {
  background-color: #202020;
}

.bottomBgDiv {
  position: relative;
}

.ringImg {
  margin: 100px 0 0 0;
  width: 100%;
  text-align: center;
}

.bottomBgDiv .bottomBg p {
  margin: 0;
  font-family: 'Sen', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  color: #ffffff;
}

.bottomBgDiv .bottomBg h3 {
  margin: 0;
  font-family: "Plaid";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 100%;
  letter-spacing: -0.05em;
  color: #ffffff;
}

.bottomBgDiv {
  margin-left: auto;
  position: absolute;
  bottom: 40px;
  right: 40px;
  display: flex;
}

.bottomBgDiv .bottomBg {
  background: #f3752b;
  border-radius: 4px 4px 0px 0px;
  width: 300px;
  height: 230px;
  margin: 0 20px 0 0;
  display: flex;
  align-items: flex-start;
  padding: 20px;
  justify-content: space-between;
  flex-direction: column;
}

/* scroll */
.scrollToShowDiv {
  margin-top: 100px;
}

.containerSteps {
  border-top: 1px solid #ffffff20;
  margin: 0 50px;
  padding: 40px;
}

.wrapperSteps {
  width: 60%;
  margin: 0 auto;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.containerStepLeft {
  width: 35%;
}

.containerStepLeft h1 {
  font-family: "Plaid";
  font-style: normal;
  font-weight: 400;
  font-size: 38px;
  line-height: 100%;
  color: #ffffff;
  margin: 0 0 16px;
  transition: 300ms ease-in-out;
}

.containerStepLeft h2 {
  font-family: 'Sen', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 125%;
  color: #ffffff;
  margin: 0 0 12px 0;
  transition: 300ms ease-in-out;
  height: 100px;
}

.containerStepLeft p {
  font-family: 'Sen', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 125%;
  margin: 0 0 40px 0;
  color: #ffffff;
  transition: 300ms ease-in-out;
}

.containerStepLeft a {
  text-decoration: none;
}

.colorButton {
  height: 48px;
  background: transparent;
  border-radius: 4px;
  padding: 5px 40px;
  font-family: "Plaid";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  text-transform: uppercase;
  color: #00ff0a;
  border: 1px solid #00ff0a;
  cursor: pointer;
  margin: 0;
  transition: 300ms;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 220px;
}

.colorButton:hover {
  color: #fff;
  background-color: #00ff0a;
}

.imageRight {
  width: 35%;
  margin: 0;
  transition: 300ms ease-in-out;
}

.containerLearnMore {
  display: flex;
  padding: 60px 40px 60px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 0px;
}

.learnMoreCard {
  width: 100%;
  height: 316px;
  background: rgba(255, 255, 255, 0.12);
  backdrop-filter: blur(40px);
  border-radius: 0px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.learnMoreCard h1 {
  font-family: "Plaid";
  font-style: normal;
  font-weight: 520;
  font-size: 32px;
  line-height: 100%;
  color: #ffffff;
  margin: 0 0 16px;
}

.learnMoreCard h3 {
  font-family: 'Sen', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 130%;
  letter-spacing: -0.02em;
  color: #ffffff;
  width: 60%;
}

.learnMoreCard button {
  width: 165px;
  height: 48px;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  border-radius: 4px;
  font-family: "Plaid";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  text-transform: uppercase;
  color: #ffffff;
  background: transparent;
  cursor: pointer;
  transition: 300ms ease;
}

.learnMoreCard button:hover {
  color: #000;
  background-color: #fff;
}

@media screen and (max-width: 1000px) {
  .breadcrumbPath {
    margin: 0 calc(7.5% - 10px);
  }
  .bannerFirst {
    min-height: auto;
  }
  .bannerTitle {
    font-size: 80px;
    line-height: 1;
    margin: 75px 0;
  }
  .bannerBtnList {
    display: block;
  }
  .whiteButton,
  .borderButton {
    margin: 0 !important;
    width: 100%;
  }
  .whiteButton {
    margin-bottom: 1rem !important;
  }
  .containerSteps {
    margin: 0 calc(7.5% - 10px);
    padding: 0;
  }
  .wrapperSteps,
  .containerStepLeft {
    width: 100%;
  }
  .containerStepLeft {
    margin: 1rem 0;
  }
  .containerStepLeft h1 {
    font-size: 30px;
  }
  .containerStepLeft h2 {
    font-size: 18px;
    height: auto;
  }
  .containerStepLeft p {
    font-size: 14px;
    margin-bottom: 1rem !important;
  }
  .containerLearnMore {
    padding: 2rem calc(7.5% - 10px) 1rem;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: 1fr;
    grid-column-gap: 0;
    grid-row-gap: 20px;
  }
  .learnMoreCard {
    height: 270px;
  }
  .learnMoreCard h1 {
    font-size: 26px;
  }
  .learnMoreCard h3 {
    font-size: 16px;
    width: 75%;
  }
}
