.text_container {
  width: 35vw;
  min-height: calc(100vh - 90px - 60px - 124px);
  margin-top: 90px;
  margin-bottom: auto;
  margin-left: 50px;
}

.mobile_picker {
  width: calc(100vw - 18px);
  height: 60vh;
  display: flex;
  align-items: flex-end;
  border-top: 10px solid #000;
  border-bottom: 10px solid #000;
  margin-bottom: 1rem;
}

.hexidecimal_mobile {
  width: 100%;
  padding: 0 calc(7.5% - 10px);
  min-height: calc(6.5vh + 10px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #000;
  margin-bottom: -10px;
}

.hexidecimal_mobile p {
  font-family: 'Sen', sans-serif;
  font-weight: 400;
  color: #fff;
  margin: 0;
  padding: 0;
}

.hexidecimal_mobile p:first-of-type {
  word-break: break-all;
}

.hexidecimal_mobile p:last-of-type {
  font-size: 30px;
  text-transform: uppercase;
}

.type_input {
  width: 35vw;
  height: 60px;
  border: none;
  outline: none;
  border-bottom: 5px solid #000;
  margin: 16px 0;
  font-family: 'Sen', sans-serif;
  font-size: 33.75px;
  font-weight: 400;
}

.type_input::placeholder {
  font-size: 33.75px;
  font-family: 'Sen', sans-serif;
  font-weight: 400;
}

.type_input:focus {
  outline: none;
  border: none;
  border-bottom: 3px solid #000;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 35vw;
}

.button:hover {
  background: #000;
  border: 2px solid #000;
  color: #fff;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  border: 2px solid #000;
  color: #000;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 10px 20px;
  margin: 20px 0 20px;
  font-family: "Plaid-L-Mono";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  cursor: pointer;
  transition: all 300ms;
  text-transform: uppercase;
}

.maximum {
  font-family: 'Sen', sans-serif;
  font-size: 19px;
}

@media (min-width: 1001px) and (max-width: 1250px) {
  .flex {
    flex-direction: column;
    width: 33vw;
  }

  .button {
    width: 100%;
    margin: 5px 0px;
  }
}

@media (-webkit-device-pixel-ratio: 2) and (width: 1440px) {
  .type_input {
    height: calc(60px * 0.75);
    margin: calc(16px * 0.75) 0;
    font-size: calc(33.75px * 0.75);
  }

  .type_input::placeholder {
    font-size: calc(33.75px * 0.75);
  }

  .button {
    margin: calc(32px * 0.75) 0;
    font-size: calc(19px * 0.75);
  }

  .maximum {
    font-size: calc(19px * 0.75);
  }
}

@media (min-width: 1001px) and (max-width: 1100px) {
  .type_input {
    width: 33vw;
  }
}

@media screen and (min-width: 1000px) {
  .mobile_picker {
    display: none;
    visibility: hidden;
  }
}

@media screen and (max-width: 1000px) {
  .text_container {
    width: 100%;
    margin: 70px auto 0;
    min-height: auto;
  }

  .text_container h1,
  .text_container p,
  .text_container form {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
  }

  .type_input {
    font-size: 30px;
    width: 100%;
  }

  .flex {
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 30px;
  }

  .maximum {
    margin: 0 0 !important;
  }

  .button {
    margin-bottom: 10px;
  }

  .mobile_picker {
    margin-bottom: 0;
  }
}

@media (max-width: 767px) {
  .text_container h1 {
    font-size: 40px;
    line-height: 45px;
  }

  .text_container {
    margin-top: 50px;
  }
}