.scroll_down {
  font-size: 18px;
  font-family: 'Sen', sans-serif;
  padding: 0;
  margin: 16px 7.5%;
  width: 35vw;
  font-weight: 400;
}

.mint_button_hidden {
  display: block;
}

.gasContainer {
  width: 35vw;
  font-size: 20px;
  height: 10vh;
  display: flex;
  align-items: center;
  font-weight: 400;
  font-family: 'Sen', sans-serif;
  position: absolute;
  top: 90vh;
  left: calc(60px + 1vw);
}

.gasContainer svg {
  font-size: 1.4rem;
  color: #000;
  margin-right: 1.5rem;
}

.gasContainer p {
  font-size: 1.4rem;
  color: #000;
  margin-right: 1.5rem;
}

.gasContainer span {
  font-size: 1.4rem;
  color: #000;
  margin-right: 0.5rem;
  font-weight: bold;
}

.wrapperContainerMobile {
  width: calc(100vw - 300px);
  margin: 85px auto 0;
  min-height: 80vh;
  display: none;
  position: relative;
}

.mint_button_hidden {
  display: block;
}

.show_mobile_button {
  display: none;
}

.gasContainerMobile {
  width: 100%;
  font-size: 20px;
  display: flex;
  align-items: center;
  font-weight: 400;
  font-family: 'Sen', sans-serif;
  margin: 0 auto;
}

.gasContainerMobile svg {
  font-size: 1.25rem;
  color: #000;
  margin-right: 1rem;
}

.gasContainerMobile p {
  font-size: 1.25rem;
  color: #000;
  margin-right: 1rem;
}

.gasContainerMobile span {
  font-size: 1.25rem;
  color: #000;
  margin-right: 0.5rem;
  font-weight: bold;
}

.lineBottomMobile {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 10px;
  background: #000;
  z-index: -30;
}

@media (-webkit-device-pixel-ratio: 2) and (width: 1440px) {
  .scroll_down {
    font-size: calc(18px * 0.75);
    margin: calc(16px * 0.75);
  }
}

@media screen and (min-width: 1000px) {

  .scroll_down,
  .gasContainerMobile {
    display: none;
  }

  .lineBottomMobile {
    display: none;
    visibility: hidden;
  }
}

@media screen and (max-width: 1000px) {
  .scroll_down {
    width: 100%;
  }

  .mint_button_hidden {
    margin: 16px 7.5%;
  }

  .wrapperContainerMobile {
    width: 100%;
    padding: 45px;
    min-height: 100%;
    display: block;
    margin: 0;
  }

  .show_mobile_button {
    display: block;
  }

  .gasContainer.hideMobile {
    display: none;
  }
}

@media screen and (max-width: 467px) {
  .wrapperContainerMobile {
    padding: 25px;
  }

}