{
  "extends": "next/core-web-vitals",
    "rules": {
      "react/no-unescaped-entities": "off",
      "@next/next/no-page-custom-font": "off",
      "react-hooks/rules-of-hooks": "off",
      "react-hooks/exhaustive-deps": "off",
      "react/jsx-key": "off",
      "@next/next/no-img-element": "off",
      "react/jsx-no-target-blank": "off"
    }
}
