/* comman css */

.whiteButton {
  padding: 24px 40px;
  height: 64px;
  background: #ffffff;
  border-radius: 4px;
  font-family: "Plaid";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  text-transform: uppercase;
  color: #000000;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #fff;
  transition: 300ms ease;
  cursor: pointer;
}

.whiteButton:hover {
  color: #fff;
  background-color: #000;
}

.borderButton {
  padding: 24px 40px;
  height: 64px;
  background: #000000;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Plaid";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  text-transform: uppercase;
  color: #ffffff;
  cursor: pointer;
  transition: 300ms ease;
  margin-left: 11px;
}

.borderButton:hover {
  color: #000;
  background-color: #fff;
}

/* end comman cdss */

.wrapper {
  width: 100%;
  min-height: calc(100vh - 100px);
  margin: -1px auto 0;
  font-family: 'Sen', sans-serif;
  background: #000;
}

.breadcrumbPath {
  padding: 50px 0 0;
  color: #fff;
  background-color: #000;
  display: flex;
  align-items: center;
  font-size: 14px;
  font-family: "Plaid-L-Mono";
  text-transform: uppercase;
  width: calc(100% - 80px);
  margin: 0 auto;
}

.breadcrumbPath a {
  color: #fff;
  text-decoration: none;
}

.breadcrumbPath svg {
  display: flex;
  align-items: center;
  margin: 0 5px;
  font-size: 1.2rem;
}

.bannerFirst {
  background: #000;
  width: 100%;
  min-height: 60vh;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 3;
}

.bannerFirst img {
  width: 100%;
  max-width: 200px;
  margin: 0 auto;
}

.bannerBtnList {
  display: flex;
  justify-content: center;
}

.bannerTitle {
  font-family: "Plaid";
  font-style: normal;
  font-weight: 600;
  font-size: 124px;
  text-align: center;
  letter-spacing: -0.05em;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0px 0 50px;
}

.bgvideo {
  position: absolute;
  right: 2rem;
  width: 100%;
  height: 100%;
  max-width: 960px;
  max-height: 450px;
  top: 25vh;
  z-index: -1;
}

/* gridSection */
.gridSection {
  padding: 100px 0 20px;
  width: calc(100% - 80px);
  margin: 0 auto;
  display: grid;
  color: #fff;
  padding-bottom: 200px;
}

.gridSection .gridRow {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  align-items: start;
  justify-items: center;
}

.gridSection .gridRow .gridItem h2 {
  font-family: "Plaid";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 100%;
  color: #ffffff;
  margin: 0;
}

.gridSection .gridRow .gridItem p {
  font-family: 'Sen', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  color: #ffffff;
  width: 50%;
}

.gridSection .gridRow .bgBox {
  background: #100f0f;
  box-shadow: 0px 8px 40px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  padding: 15px;
  margin-bottom: 20px;
}

.bottomBgDiv {
  height: 40vh;
  position: relative;
}

.ringImg {
  margin: 100px 0 0 0;
  width: 100%;
  text-align: center;
}

.bottomBgDiv .bottomBg p {
  margin: 0;
  font-family: 'Sen', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  color: #ffffff;
}

.bottomBgDiv .bottomBg h3 {
  margin: 0;
  font-family: "Plaid";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 100%;
  letter-spacing: -0.05em;
  color: #ffffff;
}

.bottomBgDiv .bottomBg {
  background: #f3752b;
  border-radius: 12px 12px 0px 0px;
  width: 300px;
  height: 230px;
  margin-left: auto;
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: end;
  padding: 20px;
  justify-content: space-between;
}

/* scroll */
.scrollToShowDiv {
  margin-top: 100px;
}

.containerSteps {
  border-top: 1px solid #ffffff20;
  margin: 0 50px;
  padding: 40px;
  position: relative;
}

.wrapperSteps {
  width: 60%;
  margin: 0 auto;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.wrapperSteps .rightVideo video {
  width: 100%;
  height: 100%;
}
.wrapperSteps .rightVideo {
  width: 350px;
  height: 450px;
}

.containerStepLeft {
  width: 35%;
}

.containerStepLeft h1 {
  font-family: "Plaid";
  font-style: normal;
  font-weight: 400;
  font-size: 38px;
  line-height: 100%;
  color: #ffffff;
  margin: 0 0 16px;
  transition: 300ms ease-in-out;
}

.containerStepLeft h2 {
  font-family: 'Sen', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 125%;
  color: #ffffff;
  margin: 0 0 12px 0;
  transition: 300ms ease-in-out;
}

.containerStepLeft p {
  font-family: 'Sen', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 125%;
  margin: 0 0 40px 0;
  color: #ffffff;
  transition: 300ms ease-in-out;
}

.containerStepLeft a {
  text-decoration: none;
}

.colorButton {
  height: 48px;
  background: transparent;
  border-radius: 4px;
  padding: 5px 40px;
  font-family: "Plaid";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  text-transform: uppercase;
  color: #00ff0a;
  border: 1px solid #00ff0a;
  cursor: pointer;
  margin: 0;
  transition: 300ms;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 220px;
}

.colorButton:hover {
  color: #fff;
  background-color: #00ff0a;
}

.imageRight {
  width: 35%;
  margin: 0;
  transition: 300ms ease-in-out;
}

.containerLearnMore {
  display: flex;
  padding: 60px 40px 60px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 0px;
}

.learnMoreCard {
  width: 100%;
  height: 316px;
  background: rgba(255, 255, 255, 0.12);
  backdrop-filter: blur(40px);
  border-radius: 0px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.learnMoreCard h1 {
  font-family: "Plaid";
  font-style: normal;
  font-weight: 520;
  font-size: 32px;
  line-height: 100%;
  color: #ffffff;
  margin: 0 0 16px;
}

.learnMoreCard h3 {
  font-family: 'Sen', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 130%;
  letter-spacing: -0.02em;
  color: #ffffff;
  width: 60%;
}

.learnMoreCard button {
  width: 165px;
  height: 48px;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  border-radius: 4px;
  font-family: "Plaid";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  text-transform: uppercase;
  color: #ffffff;
  background: transparent;
  cursor: pointer;
  transition: 300ms ease;
}

.learnMoreCard button:hover {
  color: #000;
  background-color: #fff;
}
