.square {
  width: 30px !important;
  height: 30px !important;
}
.priceShowed {
  display: flex;
  align-items: center;
  color: #fff;
  font-size: 1.3rem;
  text-decoration: none !important;
}
.priceShowed span {
  font-size: 1.7rem;
  font-weight: bold;
}
.dataTableContainer {
  margin: 3rem 50px 0;
}
.dataTableContainer h1 {
  font-size: 2rem;
  line-height: 2rem;
  color: #fff;
  text-transform: capitalize;
  font-weight: 500;
  margin: 0;
  padding: 0 8px;
}
.dataTableContainer h2 {
  font-size: 1.1rem;
  line-height: 1.1rem;
  color: #fff;
  text-transform: capitalize;
  font-weight: 400;
  margin: 0;
  margin-top: auto;
  margin-bottom: 2px;
  padding: 0 8px;
}
.layout {
  display: flex;
  align-items: center;
  margin: 0 0 1rem 0;
}
.mainGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(50px, 50px));
  grid-template-rows: repeat(auto-fill, minmax(50px, 50px));
  min-height: 30vh;
  max-width: 100%;
  margin: 2rem auto 0;
}
.gridItem {
  width: 100%;
  height: 100%;
  position: relative;
}
.gridComplementItem {
  width: 50px;
  height: 50px;
  border: 1px solid #202020;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}
.gridComplementItem svg {
  transform: scale(0);
  transition: all 0.5s;
}
.gridComplementItem:hover svg {
  transform: scale(1.5);
}
/* box grid */
.recentlyBoxContainer {
  width: 18vw;
  min-height: 20vw;
  border: 3px solid #123eef;
  margin: 0 auto;
  z-index: 30;
  text-decoration: none;
  top: 25px;
  margin: 0 auto;
}
.backgroundBoxContainer {
  height: 17vw;
}
.colorBoxHeader {
  display: flex;
  align-items: stretch;
  margin-bottom: 30px;
  color: #fff;
  font-family: 'Sen', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  gap: 5px;
  height: 40px;
}
.colorBoxProcessBar{
  width: 20px;
  height: 20px;
  margin-right: 15px;
}
.colorBoxHeader .colorBoxTime {
  background-color: #191818;
  border-radius: 6px;
  padding: 10px;
  flex: auto;
  display: flex;
  align-items: center;
}
.colorBoxHeader .colorBoxLike {
  position: relative;
  padding: 10px;
  background: #191818;
  border-radius: 6px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.colorBox {
  background: #100f0f;
  border-radius: 8px;
  padding: 5px 5px 50px 5px;
}
.colorDetails {
  padding: 20px 0;
}
.colorDetails h6 {
  font-family: "Plaid";
  font-style: normal;
  font-weight: 520;
  font-size: 20px;
  line-height: 100%;
  display: flex;
  align-items: center;
  letter-spacing: -0.02em;
  color: #ffffff;
  margin: 0 0 12px;
}
.colorDetails p span {
  color: rgba(255, 255, 255, 0.4);
}
.colorDetails p {
  margin: 0;
  font-family: 'Sen', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  color: #fff;
}
@media screen and (min-width: 3000px) {
  .mainGrid {
    grid-template-rows: repeat(15, 1fr);
  }
}
@media screen and (min-width: 3000px) {
  .mainGrid {
    grid-template-rows: repeat(15, 1fr);
  }
}
@media screen and (max-width: 1000px) {
  .dataTableContainer {
    margin: 2rem calc(7.5% - 10px) 0;
  }
  .dataTableContainer h2 {
    width: 100px;
  }
  .gridComplementItem:nth-child(n + 55) {
    display: none;
  }
  .layout {
    align-items: self-start;
    flex-direction: column;
  }
}
