.newSlideContainer svg {
  font-size: 30px;
  height: 30px;
  width: 30px;
  cursor: pointer;
  transition: all 0.3s;
}

.newSlideContainer h2 svg {
  height: 20px !important;
  width: 20px !important;
}

.newSlideContainer svg:hover {
  transform: scale(1.3);
}

.newPurchaseTitle {
  font-family: "Sen", sans-serif !important;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  font-size: 16px;
  line-height: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.newPurchaseTitle svg {
  width: 25px !important;
  height: 25px !important;
}

.newDesignHeader {
  font-family: "Plaid" !important;
  font-style: normal;
  font-weight: 520;
  font-display: swap;
  font-size: 32px;
  line-height: 100%;
  color: #ffffff;
  margin: 40px 0 20px;
}

.fontNewDesign {
  font-family: "Sen", sans-serif !important;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  font-size: 16px;
  line-height: 100%;
  color: #ffffff;
  opacity: 0.6;
  margin: 0;
}

.newTokenIdForm {
  display: grid;
  margin-top: 40px;
}

.newTokenIdForm label {
  font-family: "Sen", sans-serif !important;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  font-size: 12px;
  line-height: 16px;
  color: #ffffff;
  margin-bottom: 8px;
}

.newTokenIdForm input {
  border: 1px solid #ffffff20;
  box-sizing: border-box;
  border-radius: 4px;
  background: #100f0f;
  padding: 24px 20px;
  font-family: "Sen", sans-serif !important;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  font-size: 16px;
  line-height: 100%;
  color: #ffffff;
  outline: none;
}

.newWhiteButton {
  background: #ffffff;
  border-radius: 4px;
  height: 64px;
  width: 100%;
  font-family: "Plaid" !important;
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  font-size: 16px;
  line-height: 100%;
  text-transform: uppercase;
  color: #000000;
  padding: 24px 40px;
  cursor: pointer;
  transition: 300ms ease;
  border: 0;
  outline: 0;
  border: 1px solid #fff;
}

.newWhiteButton:hover {
  background: #000;
  color: #fff;
  border: 1px solid #fff;
}

.newBorderButton {
  border: 1px solid #ffffff;
  box-sizing: border-box;
  border-radius: 4px;
  height: 64px;
  width: 100%;
  background: transparent;
  margin-top: 12px;
  margin-bottom: 16px;
  font-family: "Plaid" !important;
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  font-size: 16px;
  line-height: 100%;
  text-transform: uppercase;
  color: #ffffff;
  cursor: pointer;
  transition: 300ms ease;
}

.newBorderButton:hover {
  background: #fff;
  color: #000;
}

.emailLoaderContainer {
  background: #ffffff10;
  border-radius: 4px;
  height: 140px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #fff !important;
}

.emailLoaderContainer span {
  border-color: #fff;
}

.emailLoaderContainer span span:first-of-type {
  background-color: #fff;
}

.emailLoaderContainer h4 {
  font-family: "Sen", sans-serif !important;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: #ffffff;
  margin: 16px 0 0;
}

.verificationContainer {
  background: #ffffff10;
  border-radius: 4px;
  width: 100%;
  height: 256px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.verificationContainer svg {
  height: 19px;
  width: 27px;
}

.verificationContainer h4 {
  font-family: "Sen", sans-serif !important;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: #ffffff;
  margin: 16px 0 20px;
}

.verificationContainerLine {
  opacity: 0.12;
  border: 1px solid #ffffff;
  width: 75%;
}

.verificationContainer p {
  font-family: "Sen", sans-serif !important;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  font-display: swap;
  line-height: 16px;
  text-align: center;
  color: #ffffff;
  opacity: 0.6;
  width: 30%;
  margin: 24px 0;
}

.verificationContainer h3 {
  font-family: "Plaid" !important;
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  font-size: 12px;
  line-height: 100%;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0;
}

.newConnectionButton {
  border: 1px solid #ffffff;
  box-sizing: border-box;
  border-radius: 4px;
  background-color: #100f0f;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 20px;
  margin-bottom: 12px;
  transition: 300ms ease;
  cursor: pointer;
}

.newConnectionButton img {
  width: 24px;
  height: 24px;
  margin-right: 1rem;
}

.newConnectionButton span {
  font-family: "Sen", sans-serif !important;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  font-size: 16px;
  line-height: 100%;
  color: #ffffff;
}

.newConnectionButton:hover {
  background-color: #fff;
}

.newConnectionButton:hover span {
  color: #000;
}

.approved {
  color: #00ff0a;
}

.newDesignFlex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.highlightedFont {
  font-family: "Plaid" !important;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: -0.02em;
  color: #ffffff;
  margin: 40px 0 20px;
}

.subFont {
  font-family: "Sen", sans-serif !important;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  font-size: 16px;
  line-height: 100%;
  color: #ffffff;
  opacity: 0.6;
  margin: 0 0 16px;
}

.offerLine {
  width: 100%;
  height: 1px;
  background-color: #ffffff20;
  margin: 40px 0 20px;
}

.newDesignForm {
  position: relative;
  display: grid;
  margin-bottom: 20px;
}

.newDesignForm label {
  font-family: "Sen", sans-serif !important;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  font-size: 12px;
  line-height: 16px;
  color: #ffffff;
  margin: 0 0 8px;
}

.newDesignForm input {
  border: 1px solid #ffffff10;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 24px 20px;
  font-family: "Sen", sans-serif !important;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  font-size: 16px;
  line-height: 100%;
  color: #ffffff;
  opacity: 0.4;
  height: 64px;
  background-color: #100f0f;
}

.newDesignForm input::-webkit-outer-spin-button,
.newDesignForm input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.newDesignForm input[type="number"] {
  -moz-appearance: textfield;
}

.newDesignForm button {
  position: absolute;
  bottom: 1px;
  right: 1px;
  height: 62px;
  padding: 0 40px;
  font-family: "Sen", sans-serif !important;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  font-size: 16px;
  line-height: 100%;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  background-color: #100f0f;
  outline: none;
}

.buyNowHeader {
  font-family: "Plaid" !important;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: -0.02em;
  color: #ffffff;
  margin: 40px 0 20px;
}

.buyItNowMain {
  margin: 0 0 16px;
  font-family: "Sen", sans-serif !important;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  font-size: 16px;
  line-height: 100%;
  color: #ffffff;
}

.newPersonImage {
  width: 24px;
  height: 24px;
  margin: 0px 8px;
  border-radius: 50%;
  background-color: grey;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.newDesignOwnerFlex {
  display: flex;
  align-items: center;
}

.newDesignOwnerFlex h3 {
  margin: 0;
}

.buyItNowMainSub {
  font-family: "Sen", sans-serif !important;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  font-size: 16px;
  line-height: 100%;
  color: #ffffff;
  opacity: 0.6;
}
