.logo_slider {
  margin-top: 40px;
  margin-bottom: 40px;
  position: relative;
}
.logo_slider::before{
    content: '';
    position: absolute;
    background: #100f0f;
    width: 5px;
    height: 119%;
    top: -10px;
    left: 0;
    z-index: 999;
}
.logo_slider::after{
    content: '';
    position: absolute;
    background: #100f0f;
    width: 5px;
    height: 119%;
    top: -10px;
    right: 0;
    z-index: 999;
} 
.marquee_border {
  border-bottom: 5px solid #100f0f;
  border-top: 5px solid #100f0f;
  background: #000;
  padding: 1.5rem 0;
}
.logo_slider .logo_item {
  padding: 10px 0 !important;
}

.logo_slider .logo_item img {
  height: 30px !important;
  max-height: 30px !important;
  object-fit: contain !important;
  margin: 0 4rem !important;
}

@media (max-width: 1000px) {
  .logo_slider .logo_item img {
    max-height: 30px;
    margin: 0 1.5rem;
  }
}
