.container {
  width: 100%;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container div {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.header {
  color: #fff;
  font-size: 10rem;
  line-height: 1;
  margin: 1rem 0;
  font-family: Plaid;
}
.desc {
  color: #bebebe;
  font-size: 1.5rem;
  line-height: 1;
  font-family: 'Sen', sans-serif;
  width: 35vw;
  text-align: center;
}
@media screen and (max-width: 1000px) {
  .desc {
    width: 85%;
  }
}
