.container {
  width: 35vw;
  margin: 0 auto;
  padding: calc(15vh - 63px) 0 15rem 0;
  display: block;
  color: #fff;
  @media screen and (max-width: 1000px) {
    width: calc(85% + 20px);
    padding: calc(15vh - 63px) 0 10rem 0;
    margin: 0 0 0 calc(7.5% - 10px);
  }
  @media (max-width: 1199px) and (min-width: 1000px) {
    width: 40vw;
  }
}

.subheader {
  font-size: 1.1rem;
  margin: 0;
  padding: 0;
  margin-left: 0.4rem;
  color: #fff;
  font-weight: 400;
  font-family: 'Sen', sans-serif;
  @media (-webkit-device-pixel-ratio: 2) and (width: 1440px) {
    font-size: 0.825rem;
    margin: 0;
    padding: 0;
    margin-left: 0.3rem;
    color: #fff;
    font-weight: 400;
    font-family: 'Sen', sans-serif;
  }
}

.headerLink {
  font-size: 1.1rem;
  margin: 0;
  padding: 0;
  color: #fff;
  font-weight: 400;
  font-family: 'Sen', sans-serif;
  text-decoration: none;
  @media (-webkit-device-pixel-ratio: 2) and (width: 1440px) {
    font-size: 0.825rem;
    margin: 0;
    padding: 0;
    color: #fff;
    font-weight: 400;
    font-family: 'Sen', sans-serif;
    text-decoration: none;
  }
}

.header {
  font-size: 65px;
  line-height: 110%;
  font-weight: 400;
  margin: 0.5rem auto;
  padding: 0;
  color: #fff;
  font-family: 'Sen', sans-serif;
  width: 90%;
  @media (-webkit-device-pixel-ratio: 2) and (width: 1440px) {
    font-size: 48.75px;
    line-height: 48.75px;
    font-weight: 400;
    margin: 0.375rem auto;
    padding: 0;
    color: #fff;
    font-family: 'Sen', sans-serif;
    width: 90%;
  }
  @media screen and (max-width: 1000px) {
    font-size: 60px;
    line-height: 110%;
    width: calc(100% - 20px);
  }
}

.image {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 0px;
  margin: 10px 0;
}

.secondImage {
  width: 60%;
  height: auto;
  object-fit: cover;
  margin: 10px auto 10px 5%;
}
@media screen and (max-width: 1000px) {
  .secondImage {
    margin: 0 0 1rem;
  }
}
@media screen and (min-width: 2200px) {
  .secondImage {
    width: 50%;
  }
}

.secondHeader {
  font-family: 'Sen', sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: 600;
  color: #fff;
  width: 90%;
  margin: 0 auto 1rem;
  @media (-webkit-device-pixel-ratio: 2) and (width: 1440px) {
    font-family: 'Sen', sans-serif;
    font-size: 22.5px;
    line-height: 22.5px;
    font-weight: 600;
    color: #fff;
    width: 90%;
    margin: 0 auto 0.75rem;
  }
  @media screen and (max-width: 1000px) {
    font-size: 25px;
    line-height: 25px;
    width: calc(100% - 20px);
    margin: 1rem auto;
  }
}

.description {
  font-size: 20px;
  line-height: 25px;
  margin: 0 auto;
  padding: 0;
  margin-bottom: 20px;
  color: #fff;
  font-family: 'Sen', sans-serif;
  width: 90%;
  @media (-webkit-device-pixel-ratio: 2) and (width: 1440px) {
    font-size: 15px;
    line-height: 18.75px;
    margin: 0 auto;
    padding: 0;
    margin-bottom: 15px;
    color: #fff;
    font-family: 'Sen', sans-serif;
    width: 90%;
  }
  @media screen and (max-width: 1000px) {
    font-size: 18px;
    width: calc(100% - 20px);
  }
}

.description a {
  line-height: 0.8 !important;
  border-bottom: 1px solid #fff;
  text-decoration: none;
  color: #fff;
  word-break: break-all;
}
.flexHeader {
  display: flex;
  align-items: center;
  margin: 33px auto 0 40px;
}
.flexHeader a,
.subheader {
  text-decoration: none;
  font-size: 14px !important;
  font-family: "Plaid-L-Mono" !important;
  text-transform: uppercase !important;
}
.flex {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 90%;
  margin: 0 auto 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #232323;
  @media screen and (max-width: 1000px) {
    margin: 0 auto;
    width: calc(100% - 20px);
  }
}

.author_date {
  font-size: 24px;
  line-height: 25px;
  font-family: 'Sen', sans-serif;
  color: #fff;
  margin: 0.5rem 1rem 0.5rem 0;
  padding: 0;
  @media (-webkit-device-pixel-ratio: 2) and (width: 1440px) {
    font-size: 18px;
    line-height: 18.75px;
    font-family: 'Sen', sans-serif;
    color: #fff;
    margin: 0;
    padding: 0;
    width: 90%;
    margin: 0 auto;
  }
  @media screen and (max-width: 1000px) {
    font-size: 18px;
    width: calc(100% - 20px);
  }
  @media screen and (max-width: 767px) {
    width: calc(100% - 20px);
    margin: 0 auto -5px;
    margin-bottom: 5px;
  }
}

.date {
  font-size: 20px;
  line-height: 25px;
  font-family: 'Sen', sans-serif;
  width: 90%;
  margin: 0.5rem auto;
  @media screen and (max-width: 1000px) {
    font-size: 18px;
    width: calc(100% - 20px);
  }
}

.author_nickName {
  font-size: 18px;
  line-height: 18px;
  font-family: Plaid;
  text-transform: uppercase;
  margin: 0.3rem 0 0;
  @media screen and (max-width: 1000px) {
    font-size: 18px;
  }
}

.subtitleh4 {
  font-size: 22.5px;
  line-height: 1.3 !important;
  font-weight: 600;
  font-family: 'Sen', sans-serif;
  padding: 0;
  margin: 0;
  color: #fff;
  width: 90%;
  margin: 0 auto 1rem;
  @media (-webkit-device-pixel-ratio: 2) and (width: 1440px) {
    font-size: 16.875px;
    font-weight: 600;
    font-family: 'Sen', sans-serif;
    padding: 0;
    margin: 0;
    color: #fff;
    width: 90%;
    margin: 0 auto 0.75rem;
  }
  @media screen and (max-width: 1000px) {
    width: calc(100% - 20px);
  }
}

.buttonContainer {
  position: relative;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 42px;
  border-radius: 15px;
  background: linear-gradient(90deg, #ffffff, #ffffff, #ffffff, #ffffff);
  animation: animation 2s linear infinite;
  background-size: 300% 300%;
  transition: 0.3s ease;
  z-index: 1;
  margin-left: 5%;
  @media (max-width: 1000px) {
    margin-left: 2%;
  }
}

.buttonContainer:hover {
  transform: scale(1.1);
}

@keyframes animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animatedButton {
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #000;
  color: #fff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin: 0;
  cursor: pointer;
  font-family: 'Sen', sans-serif;
  text-decoration: none;
  transition: 0.2s ease;
  border: 0;
  border-radius: 60px;
  position: absolute;
  top: 2px;
  left: 2px;
  width: calc(100% - 4px);
  height: calc(100% - 4px);
  text-decoration: none;
  @media (-webkit-device-pixel-ratio: 2) and (width: 1440px) {
    font-size: calc(20px * 0.75);
  }
}

.grformnext {
  color: #fff;
  stroke: #fff;
  font-size: 1.5rem !important;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.grformnext polyline {
  font-size: 1.5rem !important;
  stroke: #fff;
}

.author_image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 1rem;
  @media screen and (max-width: 576px) {
    width: 30px;
    height: 30px;
    margin-right: 10px;
  }
}

.authorMainDiv {
  margin: 0 1.6rem 1rem;
  @media screen and (max-width: 1000px) {
    margin: 0 0.8rem 1rem;
    margin-bottom: 20px;
  }
  @media screen and (max-width: 576px) {
    margin: 0 0.8rem 1rem;
    max-width: 280px;
  }
}
.authorMainDiv .author_date {
  @media screen and (max-width: 576px) {
    font-size: 20px;
  }
}
.authorMainDiv .author_nickName {
  @media screen and (max-width: 576px) {
    font-size: 15px;
  }
}

.video_embed,
.video_embed_short {
  margin: 1rem 0;
}
.video_embed iframe {
  height: 40vh !important;
  width: 100% !important;
}
.video_embed_short iframe {
  height: 40vh !important;
  width: 90% !important;
  margin: 0 5% !important;
}

@media screen and (max-width: 1000px) {
  .flexHeader {
    margin: 33px auto 0 calc(7.5% - 10px);
  }
  .container {
    width: calc(85% + 20px);
  }
  .date,
  .header,
  .secondHeader,
  .subtitleh4,
  .description {
    width: 100% !important;
  }
  .date {
    font-size: 18px;
  }
  .header {
    font-size: 45px;
  }
  .secondHeader,
  .subtitleh4 {
    font-size: 18px;
  }
  .description {
    font-size: 14px;
    margin-bottom: 10px;
  }
  .flex {
    width: 100%;
    margin: 0 !important;
  }
  .buttonContainer {
    margin-top: 1rem;
    margin-left: 0;
  }
}
